redis==5.0.1
fastapi==0.100.1
orjson==3.9.9
pydantic==2.5.1
pydantic_settings==2.1.0
uvicorn==0.12.2
uvloop==0.17.0
requests==2.31.0

psycopg2-binary==2.9.7
pycryptodomex==3.19.0
pyotp==2.8.0
python-multipart==0.0.6
psycopg2==2.9.9


sqlalchemy==2.0.23
asyncpg==0.29.0
werkzeug==3.0.1
alembic==1.12.1

async_fastapi_jwt_auth==0.6.1

typer==0.9.0
opentelemetry-api==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-exporter-jaeger==1.21.0
opentelemetry-instrumentation-fastapi==0.42b0

fastapi-limiter==0.1.5


